/* Write your CSS here */
* {
  font-family: 'Bree Serif';
}
.bg {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100vh;
  background-size: cover;
}
.userInput {
  display: flex;
}
input {
  border: none;
  width: 20vw;
  border-style: solid;
  border-color: #dfe2e5;
  background-color: transparent;
}
.search-icon {
  height: 30px;
}
.tabitems-container {
  display: flex;
}
.apps-container {
  display: flex;
}
