/* Write your CSS here */
* {
  font-family: 'Bree Serif';
}
.app-container {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  columns: 3;
}
.app-image {
  height: 50px;
  width: 50px;
}
